<!DOCTYPE html>
<html>
<head>
        <link href="{{ asset('css/login.css') }}" rel="stylesheet" />
        <script src="{{ asset('js/script.js') }}"></script>
</head>
{% block body %}
    {% if app.user %}
        <div>
            <meta http-equiv="refresh" content="2; url=http://localhost:8000/dashboard">
            <h1>You had login with Admin Account !! wait 5s !!</h1>
        </div>
    {% else %}
<div class="wrapper2">
    <div class="container">
        <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1>Admin Page</h1>
        <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"?
           value="{{ csrf_token('authenticate') }}">
    <button class= id="login-button" "btn btn-lg btn-primary" type="submit">Sign in</button>
</form>
<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
{% endif %}
{% endblock %}
<html>