{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ product.details }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Qty</th>
                <td>{{ product.qty }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ product.img }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
