<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <script src="{{ asset('js/script.js') }}"></script>
        <link rel="icon" href="img/logo.png" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
          <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    
    </head>
<script>
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    document.getElementById('myBtn').addEventListener("click", function(){
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });
</script>
    <header >     
        <div align='center' class="container green topBotomBordersOut">
        <a href='/index.php'><img src='/img/logo.png' width='25px'/></a>
        <a href='/index.php'>HOME</a>
        <a href='/index.php'>PRODUCTS</a>
        <div class="dropdown">
            <button><a>CATEGORIES </a></button>
            <div class="noidung_dropdown">
                {% for category in categories %} 
                <a href="http://localhost:8000/find?q={{ category.name }}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <a href='/index.php'>ABOUT US</a>
        <a href='/orders'>CHECK ORDER</a>
        </div>
    </header>
<button id="myBtn" title="Lên đầu trang"><img src='/img/len.png' title='lên đầu trang' width='50px'/></button>
<body>	
    <div><div id="cover">
            <form action="{{ path('find_index') }}" method="get">
                <div class="tb">
                    <div class="td">
                        <input type="text" name="q" value="" placeholder="Search" required>
                        <div class="td" id="s-cover">
                            <button type="submit">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
    </div></div>
    <div class="products">
        {% for product in products %}
            <div class="wrapper" align='center'>
                <div class="product-img">
                    <img src="/img/products/{{ product.img }}" height="420" width="327">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>{{ product.name }}</h1>
                        <p>{{ product.details }}</p>
                    </div>
                        <div class="product-price-btn">
                        <p>Category: {{ product.categories }}</p><br>
                        <p>{{ product.price }} đ</p><br>
                        <a href="/orders/new_order?q={{ product.id }}"><button align="center" type="button" >buy now </button></a>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
    <div>
<video id="video_background" playsinline="" autoplay="" muted="" loop="" poster="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/1385730/d0b93520a3362f0cbd922242da084748857f7a71.jpg">
									<source src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/1385730/577d864a2cc8e45659772d09698c1d60621f5d0d.webm" type="video/webm">
									<source src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/1385730/1448c6625638cd9514ce282ba9f29173fa5ff001.mp4" type="video/mp4">
							</video>
    </body>
</html>
