{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
<link href="{{ asset('css/button.css') }}" rel="stylesheet" />
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <defs>
	  <symbol id="arrow" viewBox="0 0 100 100">
	  	<path d="M12.5 45.83h64.58v8.33H12.5z"/>
    		<path d="M59.17 77.92l-5.84-5.84L75.43 50l-22.1-22.08 5.84-5.84L87.07 50z"/>
	  </symbol>
  </defs>
</svg>
<body align="center">
<div align='center' class='ordertext'>
        <h1>Create new Orders</h1>
                   <div><div id="cover">
            <form action="{{ path('find_index') }}" method="get">
                <div class="tb">
                    <div class="td">
                        <input type="text" name="q" value="" placeholder="Search" required>
                        <div class="td" id="s-cover">
                            <button type="submit">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
    </div></div>

  </select>
     {% for product in products %}
            <div class="wrapper" align='center'>
                <div class="product-img">
                    <img src="/img/products/{{ product.img }}" height="420" width="327">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <h1>{{ product.name }}</h1>
                        <p>{{ product.details }}</p>
                    </div>
                        <div class="product-price-btn">
                        <p>Category: {{ product.categories }}</p><br>
                        <p>{{ product.price }} đ</p><br>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
<div class=order-box align=center>
    <form align=center action="{{ path('app_orders_new') }} " method="POST" >
        <label for="product_id">Product Name:</label><br>
        <select id="product_id" name="product_id">
            {% for products in products %}
                <option align=center value="{{ products.id }}">{{ products.name }} - {{ products.price }}$</option>
            {% endfor %}
        </select>
            <br>
    <label for="qty">Quantity:</label><br>
  <input type="number" id="qty" name="qty" required><br>
  <label for="fullname">Full Name:</label><br>
  <input type="text" id="fullname" name="fullname" required><br>
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br>
  <label for="phone">Phone:</label><br>
  <input type="tel" id="phone" name="phone" required><br>
  <label for="address">Address:</label><br>
  <textarea id="address" name="address" required></textarea><br>
  <div class="container2"><div class="content"><button class="button2" type="submit">Submit Order <span>
				<svg>
					<use xlink:href="#arrow" href="#arrow"></use>
				</svg>
			</span></button></div></div>
</form>
</div>
</div>
</body>
{% endblock %}
