{% extends 'orders/index.html.twig' %}

{% block body %}
<body align="center">
<div align="center" class="order">
<h1>CHECK ORDER PAGE</h1>
    <div><div id="cover">
            <form action="{{ path('find_orders') }}" method="get">
                <div class="tb">
                    <div class="td">
                        <input type="text" name="q" value="" placeholder="Enter Your Number:..." required>
                        <div class="td" id="s-cover">
                            <button type="submit">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
    </div></div>
</div>
    <table class="table" align="center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Username</th>
                <th>Password</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
            {% for order in orders %}
             <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.username }}</td>
                <td>{{ customer.password }}</td>
                <td>{{ customer.address }}</td>
                <td>
                    <a href="{{ path('app_customers_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('app_customers_edit', {'id': customer.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">NO ORDER WITH THIS PHONE NUMBER !!</td>
            </tr>
            {% endfor %}
    </table>
</body>
{% endblock %}
