{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<body align="center">
    <h1>Orders</h1>
    {% for order in orders %}
    <table class="table" align="center">
        <tbody>
        
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ order.price }}</td>
            </tr>
            <tr>
                <th>Qty</th>
                <td>{{ order.qty }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ order.date ? order.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ order.address }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ order.fullname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ order.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ order.phone }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
        </tbody>
    </table>
</body>
    {% endfor %}
{% endblock %}
