{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<body align="center">
    <h1>Orders</h1>
       <table class="table" align="center">
        <thead>
            <tr>
                <th>Full Name&nbsp</th>&nbsp
                <th>Email &nbsp</th>
                <th>Phone &nbsp</th>&nbsp
                <th>Product &nbsp</th>&nbsp
                <th>Quantity &nbsp</th>&nbsp
                <th>Price &nbsp</th>&nbsp
                <th>Address &nbsp</th>&nbsp
                <th>Date Order &nbsp</th>&nbsp
                <th>Status &nbsp</th>&nbsp
            </tr>
        </thead>
    {% for order in orders %}
        <tbody>
            <tr>
                <td>{{ order.fullname }}&nbsp</td>&nbsp
                <td>{{ order.email }} &nbsp</td>&nbsp
                <td>{{ order.phone }} &nbsp</td>&nbsp
                <td>{{ order.products }} &nbsp</td>&nbsp
                <td>{{ order.qty }} &nbsp</td>&nbsp
                <td>{{ order.price }} &nbsp</td>&nbsp
                <td>{{ order.address }} &nbsp</td>&nbsp
                <td>{{ order.date ? order.date|date('d-m-Y') : '' }} &nbsp</td>&nbsp
                <td>{{ order.status }} &nbsp</td>&nbsp
            </tr>
        </tbody>
        <br>
    {% endfor %}
    </table>
</body>
    
{% endblock %}
